<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
<parameter name="browser" value="chrome"></parameter>
  <test thread-count="5" name="Chrome">
   <parameter name="url" value="https://skoolgo.pixelmindit.com:8300/?#/"></parameter>
    <classes>

      <class name="testcase.CreateMemberTest"/>
    </classes>
  </test> <!-- Test -->

  <parameter name="browser" value="edge"></parameter>
  <test thread-count="5" name="Edge">
  <parameter name="url" value="https://skoolgo.pixelmindit.com:8300/?#/"></parameter>
    <classes>

       <class name="testcase.CreateMemberTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->





